#triangle-input {
  background-color: lightgrey;
  border-style: dotted;
  border: 3px grey;
}

.form-control {
  width: 80%
}

.triangle-output-equilateral, .triangle-output-isosceles,  .triangle-output-scalene, .not-a-triangle, .triangle-output {
  display: none;
}

.term {
  font-style: italic;
  font-weight: bolder;
}

#side-lengths {
  float: left;
  width: 50%;
}

#angles {
  float: right;
  width: 50%;
}
